<div>
  <h2 id="page-heading" data-cy="DietaryTagsHeading">
    <span jhiTranslate="teamprojectApp.dietaryTags.home.title">Dietary Tags</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="teamprojectApp.dietaryTags.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-dietary-tags"
        [routerLink]="['/dietary-tags/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="teamprojectApp.dietaryTags.home.createLabel"> Create a new Dietary Tags </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="dietaryTags?.length === 0">
    <span jhiTranslate="teamprojectApp.dietaryTags.home.notFound">No Dietary Tags found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="dietaryTags && dietaryTags.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dietary">
            <div class="d-flex">
              <span jhiTranslate="teamprojectApp.dietaryTags.dietary">Dietary</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="post.id">
            <div class="d-flex">
              <span jhiTranslate="teamprojectApp.dietaryTags.post">Post</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dietaryTags of dietaryTags; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/dietary-tags', dietaryTags.id, 'view']">{{ dietaryTags.id }}</a>
          </td>
          <td>{{ dietaryTags.dietary }}</td>
          <td>
            <span *ngFor="let post of dietaryTags.posts; let last = last">
              <a class="form-control-static" [routerLink]="['/post', post.id, 'view']">{{ post.id }}</a
              >{{ last ? '' : ', ' }}
            </span>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/dietary-tags', dietaryTags.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/dietary-tags', dietaryTags.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(dietaryTags)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
