<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">GDPR</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="onDisagree()"></button>
  </div>
  <div class="modal-body">
    <h1 id="privacy-statement">Privacy Statement</h1>
    <h2 id="scran-team-project-18">SCRAN - Team Project 18</h2>
    <p>This privacy policy will explain how our organization uses the personal data we collect from you when you use our website.</p>
    <p>Herein this document, SCRAN refers to the product of the group of Team Project 18.</p>
    <h3 id="topics">Topics</h3>
    <ul>
      <li>What data do we collect?</li>
      <li>How do we collect your data?</li>
      <li>How will we use your data?</li>
      <li>How do we store your data?</li>
      <li>Marketing</li>
      <li>What are your data protection rights?</li>
      <li>What are cookies?</li>
      <li>How do we use cookies?</li>
      <li>What types of cookies do we use?</li>
      <li>How to manage your cookies</li>
      <li>Privacy policies of other websites</li>
      <li>Changes to our privacy policy</li>
      <li>How to contact us</li>
      <li>How to contact the appropriate authorities</li>
    </ul>
    <h3 id="what-data-do-we-collect-">What data do we collect?</h3>
    <h4 id="scran-collects-the-following-data">SCRAN collects the following data</h4>
    <h5 id="personal-identification-information">Personal identification information</h5>
    <ul>
      <li>Name</li>
      <li>Email address</li>
      <li>Phone number</li>
      <li>Approximate location</li>
      <li>User-generated content</li>
    </ul>
    <h3 id="how-do-we-collect-your-data-">How do we collect your data?</h3>
    <p>You directly provide SCRAN with most of the data we collect. We collect data and process data when you:</p>
    <ul>
      <li>Register online</li>
      <li>Submit user generated content</li>
      <li>Use our website, look at posts, etc.</li>
      <li>Voluntarily complete a customer survey or provide feedback on our project.</li>
      <li>Use or view our website via your browser’s cookies.</li>
    </ul>
    <p>SCRAN may also receive your data indirectly from the following sources:</p>
    <ul>
      <li>
        Indirectly through the use of APIs, which may collect your data.
        <ul>
          <li>
            All or most APIs used are publically accessible through our open-source code, or are acknowledged in our acknowledgements.
          </li>
        </ul>
      </li>
    </ul>
    <h3 id="how-will-we-use-your-data-">How will we use your data?</h3>
    <h4 id="scran-collects-your-data-so-that-we-can">SCRAN collects your data so that we can</h4>
    <ul>
      <li>Deliver content that we think you will enjoy and find relevant.</li>
      <li>Ensure data you create is only attributable to you.</li>
    </ul>
    <h3 id="how-do-we-store-your-data-">How do we store your data?</h3>
    <p>SCRAN securely stores your data using University of Birmingham assigned Virtual Machines.</p>
    <p>
      The data SCRAN collects is only accessible to appropriately authenticated user and admin accounts, the developers of SCRAN, and
      certain University of Birmingham staff.
    </p>
    <p>The hard limit for the length of user data will be 31st May 2023. After this point, all user data will be deleted.</p>
    <h3 id="marketing">Marketing</h3>
    <p>
      SCRAN will not use your data for advertising. We will not host advertisements on our website, and no according data will be shared or
      used for these purposes.
    </p>
    <p>SCRAN may use your data for other marketing purposes, such as:</p>
    <ul>
      <li>Informing you about new features and updates.</li>
      <li>Reaching out for responses to surveys, forms, etc.</li>
    </ul>
    <h3 id="what-are-your-data-protection-rights-">What are your data protection rights?</h3>
    <p>SCRAN would like to make sure you are fully aware of all of your data protection rights. Every user is entitled to the following:</p>
    <p><strong>The right to access</strong> – You have the right to request SCRAN for copies of your personal data.</p>
    <p>
      <strong>The right to rectificatio</strong>n – You have the right to request that SCRAN correct any information you believe is
      inaccurate. You also have the right to request SCRAN to complete the information you believe is incomplete.
    </p>
    <p>
      <strong>The right to erasure</strong> – You have the right to request that SCRAN erase your personal data, under certain conditions.
    </p>
    <p>
      <strong>The right to restrict processing</strong> – You have the right to request that SCRAN restrict the processing of your personal
      data, under certain conditions.
    </p>
    <p>
      <strong>The right to object to processing</strong> – You have the right to object to SCRAN’s processing of your personal data, under
      certain conditions.
    </p>
    <p>
      <strong>The right to data portability</strong> – You have the right to request that SCRAN transfer the data that we have collected to
      another organization, or directly to you, under certain conditions.
    </p>
    <p>
      If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us at
      our emails:
    </p>
    <ul>
      <li>kar020@student.bham.ac.uk</li>
    </ul>
    <p>You can also fill out our <a href="https://forms.gle/VHJByhpWcZciiW5K9">Google Form</a></p>
    <p>
      <em
        >NB: <a href="https://policies.google.com/privacy">Google&#39;s Privacy policies</a> may apply if you wish to use this method of
        contacting us.</em
      >
    </p>
    <h3 id="cookies">Cookies</h3>
    <p>
      Cookies are text files placed on your computer to collect standard Internet log information and visitor behavior information. When you
      visit our websites, we may collect information from you automatically through cookies or similar technology
    </p>
    <p>For further information, visit allaboutcookies.org.</p>
    <h3 id="how-do-we-use-cookies-">How do we use cookies?</h3>
    <p>SCRAN uses cookies in a range of ways to improve your experience on our website, including:</p>
    <ul>
      <li>Keeping you signed in</li>
      <li>Understanding how you use our website</li>
    </ul>
    <h3 id="what-types-of-cookies-do-we-use-">What types of cookies do we use?</h3>
    <p>There are a number of different types of cookies, however, our website uses:</p>
    <p>
      <strong>Functionality</strong> – SCRAN uses these cookies so that we recognize you on our website and remember your previously
      selected preferences. These could include what language you prefer and location you are in. A mix of first-party and third-party
      cookies are used.
    </p>
    <p>
      <strong>Advertising</strong> – SCRAN uses these cookies to collect information about your visit to our website, the content you
      viewed, the links you followed and information about your browser, device, and your IP address. SCRAN does not plan on sharing this
      data with third parties for advertising purposes. We do not plan on sharing online data collected through cookies with any advertising
      partners.
    </p>
    <h3 id="how-to-manage-cookies">How to manage cookies</h3>
    <p>
      You can set your browser not to accept cookies, and the above website tells you how to remove cookies from your browser. However, in a
      few cases, some of our website features may not function as a result.
    </p>
    <h3 id="privacy-policies-of-other-websites">Privacy policies of other websites</h3>
    <p>
      The SCRAN website contains links to other websites. Our privacy policy applies only to our website, so if you click on a link to
      another website, you should read their privacy policy.
    </p>
    <h3 id="changes-to-our-privacy-policy">Changes to our privacy policy</h3>
    <p>
      SCRAN keeps its privacy policy under regular review and places any updates on this web page. This privacy policy was last updated on
      19th April 2023. Any updates to our privacy policy will be publicised through notices on our website, emails to users, etc. The
      most-up-to-date privacy policy, and older versions, will be accessible in the footer of our website.
    </p>
    <h3 id="how-to-contact-us">How to contact us</h3>
    <p>
      If you have any questions about SCRAN’s privacy policy, the data we hold on you, or you would like to exercise one of your data
      protection rights, please do not hesitate to contact us.
    </p>
    <p>
      Email us at: Kieran Roper - kar020@student.bham.ac.uk Ng Zhi Long - zln115@student.bham.ac.uk Luke Horner-Long -
      lmh186@student.bham.ac.uk Paranvir Aoulik - pxa070@student.bham.ac.uk
    </p>
    <p>You can also fill out our <a href="https://forms.gle/VHJByhpWcZciiW5K9">Google Form</a></p>
    <p>
      <em
        >NB: <a href="https://policies.google.com/privacy">Google&#39;s Privacy policies</a> may apply if you wish to use this method of
        contacting us.</em
      >
    </p>
    <h3 id="how-to-contact-the-appropriate-authority">How to contact the appropriate authority</h3>
    <p>
      Should you wish to report a complaint or if you feel that SCRAN has not addressed your concern in a satisfactory manner, you may
      contact the Information Commissioner’s Office.
    </p>
    <p>Website: <a href="https://ico.org.uk">Information Commissioner&#39;s Office UK</a></p>
  </div>
</div>
