.container {
  display: flex;
}

.friends-list {
  width: 200px;
  padding: 0;
  margin-right: 20px;
}

.vertical-line {
  width: 1px;
  height: 100%;
  background-color: #ccc;
}

.friends-list h2 {
  margin: 0;
}

.card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.image-overview {
  object-fit: contain;
  height: 18em;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}
