<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-allergens-heading" data-cy="AllergensCreateUpdateHeading" jhiTranslate="teamprojectApp.allergens.home.createOrEditLabel">
        Create or edit a Allergens
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teamprojectApp.allergens.celery" for="field_celery">Celery</label>
          <input type="checkbox" class="form-check" name="celery" id="field_celery" data-cy="celery" formControlName="celery" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teamprojectApp.allergens.gluten" for="field_gluten">Gluten</label>
          <input type="checkbox" class="form-check" name="gluten" id="field_gluten" data-cy="gluten" formControlName="gluten" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teamprojectApp.allergens.crustaceans" for="field_crustaceans">Crustaceans</label>
          <input
            type="checkbox"
            class="form-check"
            name="crustaceans"
            id="field_crustaceans"
            data-cy="crustaceans"
            formControlName="crustaceans"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teamprojectApp.allergens.egg" for="field_egg">Egg</label>
          <input type="checkbox" class="form-check" name="egg" id="field_egg" data-cy="egg" formControlName="egg" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teamprojectApp.allergens.fish" for="field_fish">Fish</label>
          <input type="checkbox" class="form-check" name="fish" id="field_fish" data-cy="fish" formControlName="fish" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teamprojectApp.allergens.lupin" for="field_lupin">Lupin</label>
          <input type="checkbox" class="form-check" name="lupin" id="field_lupin" data-cy="lupin" formControlName="lupin" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teamprojectApp.allergens.milk" for="field_milk">Milk</label>
          <input type="checkbox" class="form-check" name="milk" id="field_milk" data-cy="milk" formControlName="milk" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teamprojectApp.allergens.molluscs" for="field_molluscs">Molluscs</label>
          <input type="checkbox" class="form-check" name="molluscs" id="field_molluscs" data-cy="molluscs" formControlName="molluscs" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teamprojectApp.allergens.mustard" for="field_mustard">Mustard</label>
          <input type="checkbox" class="form-check" name="mustard" id="field_mustard" data-cy="mustard" formControlName="mustard" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teamprojectApp.allergens.nuts" for="field_nuts">Nuts</label>
          <input type="checkbox" class="form-check" name="nuts" id="field_nuts" data-cy="nuts" formControlName="nuts" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teamprojectApp.allergens.peanuts" for="field_peanuts">Peanuts</label>
          <input type="checkbox" class="form-check" name="peanuts" id="field_peanuts" data-cy="peanuts" formControlName="peanuts" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teamprojectApp.allergens.sesame" for="field_sesame">Sesame</label>
          <input type="checkbox" class="form-check" name="sesame" id="field_sesame" data-cy="sesame" formControlName="sesame" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teamprojectApp.allergens.soya" for="field_soya">Soya</label>
          <input type="checkbox" class="form-check" name="soya" id="field_soya" data-cy="soya" formControlName="soya" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teamprojectApp.allergens.sulphur" for="field_sulphur">Sulphur</label>
          <input type="checkbox" class="form-check" name="sulphur" id="field_sulphur" data-cy="sulphur" formControlName="sulphur" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teamprojectApp.allergens.user" for="field_user">User</label>
          <select class="form-control" id="field_user" data-cy="user" name="user" formControlName="user" [compareWith]="compareUser">
            <option [ngValue]="null"></option>
            <option [ngValue]="userOption" *ngFor="let userOption of usersSharedCollection">{{ userOption.login }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teamprojectApp.allergens.post" for="field_post">Post</label>
          <select class="form-control" id="field_post" data-cy="post" name="post" formControlName="post" [compareWith]="comparePost">
            <option [ngValue]="null"></option>
            <option [ngValue]="postOption" *ngFor="let postOption of postsSharedCollection">{{ postOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
