<div class="registerBg vh-100 prevent-select">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card shadow-lg card-fade" style="border-radius: 1rem; border: none">
          <div class="row g-0">
            <div class="col-md-6 col-lg-6 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">
                <form name="form" role="form" (ngSubmit)="register()" [formGroup]="registerForm" *ngIf="!success">
                  <!-- Logo and Title -->
                  <h5 class="fw-bold mb-3 pb-3 signup-title">Sign up</h5>

                  <!-- username -->
                  <div class="mb-3">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <fa-icon [icon]="faUser" style="color: #45818e"></fa-icon>
                        </div>
                      </div>
                      <input
                        type="text"
                        class="form-control custom-border"
                        id="login"
                        name="login"
                        placeholder="Your Name"
                        formControlName="login"
                        data-cy="username"
                        #login
                      />
                    </div>
                    <div
                      *ngIf="registerForm.get('login')!.invalid && (registerForm.get('login')!.dirty || registerForm.get('login')!.touched)"
                    >
                      <small
                        class="form-text text-danger"
                        *ngIf="registerForm.get('login')?.errors?.required"
                        jhiTranslate="register.messages.validate.login.required"
                      >
                        Your username is required.
                      </small>

                      <small
                        class="form-text text-danger"
                        *ngIf="registerForm.get('login')?.errors?.minlength"
                        jhiTranslate="register.messages.validate.login.minlength"
                      >
                        Your username is required to be at least 1 character.
                      </small>

                      <small
                        class="form-text text-danger"
                        *ngIf="registerForm.get('login')?.errors?.maxlength"
                        jhiTranslate="register.messages.validate.login.maxlength"
                      >
                        Your username cannot be longer than 50 characters.
                      </small>

                      <small
                        class="form-text text-danger"
                        *ngIf="registerForm.get('login')?.errors?.pattern"
                        jhiTranslate="register.messages.validate.login.pattern"
                      >
                        Your username is invalid.
                      </small>
                    </div>
                  </div>

                  <!-- email -->

                  <div class="mb-3">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <fa-icon [icon]="faEnvelope" style="color: #45818e"></fa-icon>
                        </div>
                      </div>
                      <input
                        type="email"
                        class="form-control custom-border"
                        id="email"
                        name="email"
                        placeholder="Email"
                        formControlName="email"
                        data-cy="email"
                      />
                    </div>

                    <div
                      *ngIf="registerForm.get('email')!.invalid && (registerForm.get('email')!.dirty || registerForm.get('email')!.touched)"
                    >
                      <small
                        class="form-text text-danger"
                        *ngIf="registerForm.get('email')?.errors?.required"
                        jhiTranslate="global.messages.validate.email.required"
                      >
                        Your email is required.
                      </small>

                      <small
                        class="form-text text-danger"
                        *ngIf="registerForm.get('email')?.errors?.invalid"
                        jhiTranslate="global.messages.validate.email.invalid"
                      >
                        Your email is invalid.
                      </small>

                      <small
                        class="form-text text-danger"
                        *ngIf="registerForm.get('email')?.errors?.minlength"
                        jhiTranslate="global.messages.validate.email.minlength"
                      >
                        Your email is required to be at least 5 characters.
                      </small>

                      <small
                        class="form-text text-danger"
                        *ngIf="registerForm.get('email')?.errors?.maxlength"
                        jhiTranslate="global.messages.validate.email.maxlength"
                      >
                        Your email cannot be longer than 50 characters.
                      </small>
                    </div>
                  </div>

                  <!-- password -->
                  <div class="mb-3">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <fa-icon [icon]="faLock" style="color: #45818e"></fa-icon>
                        </div>
                      </div>
                      <input
                        type="password"
                        class="form-control custom-border"
                        id="password"
                        name="password"
                        placeholder="New Password"
                        formControlName="password"
                        data-cy="firstPassword"
                      />
                    </div>

                    <div
                      *ngIf="
                        registerForm.get('password')!.invalid &&
                        (registerForm.get('password')!.dirty || registerForm.get('password')!.touched)
                      "
                    >
                      <small
                        class="form-text text-danger"
                        *ngIf="registerForm.get('password')?.errors?.required"
                        jhiTranslate="global.messages.validate.newpassword.required"
                      >
                        Your password is required.
                      </small>

                      <small
                        class="form-text text-danger"
                        *ngIf="registerForm.get('password')?.errors?.minlength"
                        jhiTranslate="global.messages.validate.newpassword.minlength"
                      >
                        Your password is required to be at least 4 characters.
                      </small>

                      <small
                        class="form-text text-danger"
                        *ngIf="registerForm.get('password')?.errors?.maxlength"
                        jhiTranslate="global.messages.validate.newpassword.maxlength"
                      >
                        Your password cannot be longer than 50 characters.
                      </small>
                    </div>
                    <jhi-password-strength-bar [passwordToCheck]="registerForm.get('password')!.value"></jhi-password-strength-bar>
                  </div>

                  <!-- confirm password -->
                  <div class="mb-3">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <fa-icon [icon]="faKey" style="color: #45818e"></fa-icon>
                        </div>
                      </div>
                      <input
                        type="password"
                        class="form-control custom-border"
                        id="confirmPassword"
                        name="confirmPassword"
                        placeholder="Confirm New Password"
                        formControlName="confirmPassword"
                        data-cy="secondPassword"
                      />
                    </div>

                    <div
                      *ngIf="
                        registerForm.get('confirmPassword')!.invalid &&
                        (registerForm.get('confirmPassword')!.dirty || registerForm.get('confirmPassword')!.touched)
                      "
                    >
                      <small
                        class="form-text text-danger"
                        *ngIf="registerForm.get('confirmPassword')?.errors?.required"
                        jhiTranslate="global.messages.validate.confirmpassword.required"
                      >
                        Your confirmation password is required.
                      </small>

                      <small
                        class="form-text text-danger"
                        *ngIf="registerForm.get('confirmPassword')?.errors?.minlength"
                        jhiTranslate="global.messages.validate.confirmpassword.minlength"
                      >
                        Your confirmation password is required to be at least 4 characters.
                      </small>

                      <small
                        class="form-text text-danger"
                        *ngIf="registerForm.get('confirmPassword')?.errors?.maxlength"
                        jhiTranslate="global.messages.validate.confirmpassword.maxlength"
                      >
                        Your confirmation password cannot be longer than 50 characters.
                      </small>
                    </div>
                  </div>

                  <!-- terms of service -->
                  <div class="d-flex justify-content-between align-items-center mb-4 mx-1">
                    <div class="form-check">

                      <label class="form-check-label small text-muted text-center text-decoration-none fw-light" for="confirmTOS">
                        By pressing the "REGISTER" button below, you are agreeing to the
                        <a (click)="openPrivacyModal()" class="small text-muted text-center text-decoration-underline fw-light">
                          Terms of Service
                        </a>
                      </label>
                    </div>
                  </div>

                  <!-- button  -->

                  <div class="pt-1 mb-4">
                    <button
                      type="submit"
                      
                      class="btn btn-primary btn-lg btn-block"
                      data-cy="submit"
                    >
                      Register
                    </button>
                  </div>
                </form>

                <div class="divider d-flex align-items-center my-4"></div>

                <!-- register account -->
                <p class="mb-5 pb-lg-2" style="color: #393f81">
                  Already have an account?
                  <a class="hover-underline-animation-Register text-decoration-none" style="color: #ed5c5c" routerLink="/login">
                    Sign in
                  </a>
                </p>
                <!-- alerts  -->
                <div class="alert alert-success" *ngIf="success" jhiTranslate="register.messages.success">
                  <strong>Registration saved!</strong> Account is now ready for use.
                </div>

                <div class="alert alert-danger" *ngIf="error" jhiTranslate="register.messages.error.fail">
                  <strong>Registration failed!</strong> Please try again later.
                </div>

                <div class="alert alert-danger" *ngIf="errorUserExists" jhiTranslate="register.messages.error.userexists">
                  <strong>Login name already registered!</strong> Please choose another one.
                </div>

                <div class="alert alert-danger" *ngIf="errorEmailExists" jhiTranslate="register.messages.error.emailexists">
                  <strong>Email is already in use!</strong> Please choose another one.
                </div>

                <div class="alert alert-danger" *ngIf="doNotMatch" jhiTranslate="global.messages.error.dontmatch">
                  The password and its confirmation do not match!
                </div>
              </div>
            </div>

            <div class="registerLogo col-md-6 col-lg-6 d-none d-md-block">
              <img src="content/images/FinalScranLogoTransparent.png" class="img-fluid" alt="login logo photo" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
